<h1>ZMOVIES</h1>

<app-navbar></app-navbar>

<app-sidebar></app-sidebar>

<router-outlet></router-outlet>

<app-listmovie *ngFor = "let id of movieId" [movieId]="id"></app-listmovie>

<!--<pre *ngIf="lists">-->
  <!--{{lists | async | json}}-->
<!--</pre>-->

<!--<hr/>-->
<!--<section *ngIf="listmovie">-->
  <!--<img [src]="getPath(listmovie.poster_path)" />-->
  <!--<pre>{{listmovie | json}}</pre>-->
<!--</section>-->
<!--<section *ngIf="!listmovie">-->
  <!--Pas encore de films à afficher...-->
<!--</section>&ndash;&gt;-->