.logo
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:250px;
}

.header_navbar
{
	background-color: red;
}

.navbar
{
	color : white;
	background-color: black;

}

.sidebar
{
	color : white;
	background-color: red;
	min-height: 100vh;
}