<h1>ZMOVIES</h1>

<hr/>
<nav *ngIf="user">
  <label>{{user.displayName}}</label>
  <img [src]="user.photoURL" />
  <button (click)="logout()">Déconnection</button>
  {{user.uid}}
</nav>
<nav *ngIf="!user">
  <button (click)="login()">Connection via Google</button>
</nav>
<hr/>

<app-sidebar></app-sidebar>
<app-listmovie *ngFor = "let id of movieId" [movieId]="id"></app-listmovie>

<!--<pre *ngIf="lists">-->
  <!--{{lists | async | json}}-->
<!--</pre>-->

<!--<hr/>-->
<!--<section *ngIf="listmovie">-->
  <!--<img [src]="getPath(listmovie.poster_path)" />-->
  <!--<pre>{{listmovie | json}}</pre>-->
<!--</section>-->
<!--<section *ngIf="!listmovie">-->
  <!--Pas encore de films à afficher...-->
<!--</section>&ndash;&gt;-->