<form (submit)="sdSearchMovie(searchInputMovie.value)">
  <mat-form-field class="input-general">
    <input matInput placeholder="Rechercher un Film" #searchInputMovie>
  </mat-form-field>
</form>

<form (submit)="sdSearchActor(searchInputActor.value)">
  <mat-form-field class="input-general">
    <input matInput placeholder="Rechercher un Acteur" #searchInputActor>
  </mat-form-field>
</form>
<section *ngIf="currentSearchResActor">
  <app-listactor [actors]="currentSearchResActor.results">
  </app-listactor>
</section>
<section *ngIf="currentSearchResMovie">
  <app-listmovie [movies]="currentSearchResMovie.results">
  </app-listmovie>
</section>
