<form (submit)="sdSearchMovie(searchInputMovie.value)" class="form-search">
  <mat-form-field class="input-general" class="field-search">
    <input matInput placeholder="Rechercher un Film" #searchInputMovie />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>
<form>
  <mat-toolbar>
    <input type="text" [formControl]="name">
  </mat-toolbar>
  <mat-toolbar>
    <button mat-flat-button color="primary" (click)="addListe()">Ajouter Liste <mat-icon>add</mat-icon></button>
  </mat-toolbar>
</form>
<mat-toolbar>
  <button mat-flat-button color="primary" *ngIf="user" (click)="logout()">Déconnection<mat-icon>person</mat-icon></button>
  <button mat-flat-button color="primary" *ngIf="!user" (click)="login()">Connexion <mat-icon>person</mat-icon></button>
</mat-toolbar>

<mat-nav-list *ngIf="user">
    <a *ngFor="let liste of listes | async" mat-list-item 
    [routerLink]="['/playlist',liste.nom]" routerLinkActive="active" >
     <mat-icon>list</mat-icon>
     {{ liste.nom }} 
    </a>
</mat-nav-list>