<div *ngIf="listMovies" layout="row" flex>
    <h3> {{namelist}}</h3>
    <button mat-flat-button color="primary" (click)="reName()"><mat-icon>edit</mat-icon></button>
    <button mat-flat-button color="primary" (click)="removePlaylist()"><mat-icon>delete</mat-icon></button>
</div>
<section  fxLayout='row wrap' fxLayoutAlign="start">
    <mat-card *ngFor="let movie of movies" fxFlex="20%" fxFlex.lt-lg="50%" fxLayout="row wrap">
        <app-movie [movie]="movie"></app-movie>
    </mat-card>
</section>