  .bar-titre-playlist {
    display: inline-block;
    display: block;
  }

  .titre-playlist{
    display: inline-block;
    padding-left: 3%;
  }

  .button-edit-name-playlist {
    display: inline-block;
    margin-left: 1%;
    background-color:rgba(134, 72, 14, 0.568);
  }

  .button-remove-playlist {
    display: inline-block;
    margin-left: 1%;
    background-color:rgba(184, 10, 10, 0.685);
  }
  .button-playlist-edit-annuler{
    margin-left: 1%;
  }
