@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}